@font-face{
	font-family: "Courier New", monospace;
}

:root{
	--primary: white;
	--secondary: black;
}

nav{
	place-content: center;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}

body{
	display: flex;
	flex-wrap: wrap;
	min-height: 100vh;
	height: 100vh;
	width: 100vw;
	margin: 0;
	display: list-item;
	color: #ffffff;
	background: linear-gradient(-90deg, var(--primary), var(--secondary)), 
				url(images/bg.png) repeat center center / cover;
}

.wrapper{
	margin: 0 auto;
	width: 75vw;
}

footer{
	position: sticky;
	background: linear-gradient(90deg, var(--primary), var(--secondary)), 
				url(images/bg.png) repeat center center / cover;
	height: auto;
	text-align: center;
	top: 100%;
}

header{
	flex-wrap: wrap;
	background: linear-gradient(90deg, var(--secondary), var(--secondary)), 
				url(images/bg.png) repeat center center / cover;
}

p{
	font-family: "Courier New", monospace;
	font-size: 36px;
	color: #E0FBFC;
	user-select: none;
}

a{
	font-family: "Courier New", monospace;
	font-size: 40px;
	text-decoration: none;
	transition: 0.3s;
	color: white;
	user-select: none;
	background-color: var(--primary);
	border-radius: 15px;
	-webkit-box-shadow: 0px 0px 300px 0px rgba(255,255,255,1);
	-moz-box-shadow: 0px 0px 300px 0px rgba(255,255,255,1);
	box-shadow: 0px 0px 300px 0px rgba(255,255,255,1);
}

a:hover {
	color: blanchedalmond;
}

h6{
	font-family: "Courier New", monospace;
	font-size: 10px;
	user-select: none;
}

h5{
	font-family: "Courier New", monospace;
	font-size: 50px;
	user-select: none;
}


h4{
	font-family: "Courier New", monospace;
	font-size: 60px;
	color: #E0FBFC;
	user-select: none;
}

h3{
	font-family: "Courier New", monospace;
	font-size: 70px;
	color: #E0FBFC;
	user-select: none;
}

h2{
	font-family: "Courier New", monospace;
	font-size: 60px;
	user-select: none;
}


h1{
	font-family: "Courier New", monospace;
	font-size: 70px;
	color: #E0FBFC;
	user-select: none;
}

::-webkit-scrollbar {
    display: none;
}


/*! SkyTech */