:root{
	--primary: rgba(255, 255, 255, 0.36);
	--secondary: rgba(0, 0, 0, 0.36);
	--button: rgba(255, 255, 255, 0.2);
	--white50: rgba(255, 255, 255, 0.5);
	--gray50: rgba(128, 128, 128, 0.2);
}

.logo{
	width: 0px;
	height: 0px;
	visibility: hidden;
}

.mobile-text{
	visibility: hidden;
	width: 0px;
	height: 0px;
}

nav{
	place-content: center;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
}

body{
	display: flex;
	flex-wrap: wrap;
	min-height: 100vh;
	height: 100vh;
	width: 100vw;
	margin: 0;
	display: list-item;
	color: #ffffff;
	background: linear-gradient(-90deg, var(--primary), var(--secondary)), 
				url(images/bg1.png) no-repeat center center / cover;
	background-attachment: fixed;
}

.wrapper{
	margin: 0 auto;
	width: 75vw;
}

hr{
	color: white;
}

footer{
	position: sticky;
	background: linear-gradient(90deg, var(--primary), var(--secondary));
	height: auto;
	text-align: center;
	top: 100%;
}

header{
	flex-wrap: wrap;
	background: linear-gradient(90deg, var(--button), var(--button));
}

p{
	font-family: 'JetBrains Mono', monospace;
	font-size: 36px;
	color: #E0FBFC;
	user-select: none;
	margin: 30px 30px;
}

p, .bio{
		font-size: 48px;
		color: #E0FBFC;
		user-select: none;
}

a{
	margin: 10px 10px;
	border-radius: 15px;
	border-style: solid;
	border-color: white;
	border-width: 2px;
	font-family: 'JetBrains Mono', monospace;
	font-size: 40px;
	text-decoration: none;
	transition: 0.3s;
	color: white;
	user-select: none;
}

a:hover {
	color: var(--white50);
	border-color: var(--white50);
}

h6{
	font-family: 'JetBrains Mono', monospace;
	font-size: 10px;
	user-select: none;
}

h5{
	font-family: 'JetBrains Mono', monospace;
	font-size: 50px;
	user-select: none;
}


h4{
	font-family: 'JetBrains Mono', monospace;
	font-size: 60px;
	color: #E0FBFC;
	user-select: none;
}

h3{
	font-family: 'JetBrains Mono', monospace;
	font-size: 70px;
	color: #E0FBFC;
	user-select: none;
}

h2{
	font-family: 'JetBrains Mono', monospace;
	font-size: 60px;
	user-select: none;
}


h1{
	font-family: 'JetBrains Mono', monospace;
	font-size: 70px;
	color: #E0FBFC;
	user-select: none;
}

img{
	font-family: 'JetBrains Mono', monospace;
	width: 256px;
	height: 256px;
	border-radius: 20px;
	border-style: solid;
	border-color: var(--secondary);
	margin: 30px 30px;
}

.card{
	font-family: 'JetBrains Mono', monospace;
	background-color: var(--button);
	border-radius: 50px;
	border-style: solid;
	border-color: white;
	transition: 0.3;
	margin: 30px 30px;
	border-width: 2px;
}

.card:hover{
}

::-webkit-scrollbar {
    display: none;
}

.cardcontainer{
}

@media screen and (max-width: 992px) {
	@font-face{
		font-family: 'JetBrains Mono', monospace;
	}

	.logo{
		width: auto;
		height: auto;
		visibility: visible;
	}

	.mobile-text{
		width: auto;
		height: auto;
		visibility: visible;
	}

	.pc-text{
		width: 0px;
		height: 0px;
		visibility: hidden;
	}

	:root{
		--primary: rgba(255, 255, 255, 0.36);
		--secondary: rgba(0, 0, 0, 0.36);
	}

	body{
		display: flex;
		flex-wrap: wrap;
		min-height: 100vh;
		height: 100vh;
		width: 100vw;
		margin: 0;
		display: list-item;
		color: #ffffff;
		background:  url(images/bg1.png) repeat center center / cover;
		background-attachment: fixed;
	}

	.wrapper{
		margin: 0 0;
		width: 100vw;
		background-color: rgba(0, 0, 0, 0);
	}

	footer{
		position: sticky;
		background: linear-gradient(90deg, var(--primary), var(--secondary));
		height: auto;
		text-align: center;
		top: 100%;
	}

	header{
		flex-wrap: wrap;
		visibility: hidden;
	}

	p{
		font-family: 'JetBrains Mono', monospace;
		font-size: 36px;
		color: #E0FBFC;
		user-select: none;
	}

	p, .bio{
		font-family: 'JetBrains Mono', monospace;
		font-size: 48px;
		color: #E0FBFC;
		user-select: none;
	}

	a{
		border-radius: 15px;
		border-style: solid;
		border-color: white;
		border-width: 2px;
		font-family: 'JetBrains Mono', monospace;
		font-size: 40px;
		text-decoration: none;
		transition: 0.3s;
		color: white;
		user-select: none;
	}
	
	a:hover {
		color: var(--white50);
		border-color: var(--white50);
	}

	h6{
		font-family: 'JetBrains Mono', monospace;
		font-size: 10px;
		user-select: none;
	}

	h5{
		font-family: 'JetBrains Mono', monospace;
		font-size: 50px;
		user-select: none;
	}


	h4{
		font-family: 'JetBrains Mono', monospace;
		font-size: 60px;
		color: #E0FBFC;
		user-select: none;
	}

	h3{
		font-family: 'JetBrains Mono', monospace;
		font-size: 70px;
		color: #E0FBFC;
		user-select: none;
	}

	h2{
		font-family: 'JetBrains Mono', monospace;
		font-size: 60px;
		user-select: none;
	}


	h1{
		font-family: 'JetBrains Mono', monospace;
		font-size: 70px;
		color: #E0FBFC;
		user-select: none;
	}

	img{
		width: 256px;
		height: 256px;
		border-radius: 20px;
		border-style: solid;
		border-color: var(--secondary);
		margin: 30px 30px;
	}

	.card{
		background-color: var(--gray50);
		border-radius: 50px;
		border-style: solid;
		border-color: white;
		border-width: 2px;
		margin: 10px 10px;
		transition: 0.3;
	}

	.card:hover{
	}

	.cardcontainer{
		display: flex;
  		flex-direction: row;
 		flex-wrap: wrap;
	}

}