// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

@font-face{
	font-family: "Courier New", monospace;
}

:root{
	--primary: hsla(200, 99%, 34%, 0.25);
	--secondary: hsla(132, 99%, 34%, 0.10);
}

nav{
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	background: linear-gradient(90deg, var(--primary), var(--secondary)), 
			url(images/bg.png) repeat center center / cover;
}

body{
	display: flex;
	flex-wrap: wrap;
	min-height: 100vh;
	height: 100vh;
	width: 100vw;
	margin: 0;
	display: list-item;
	color: #fff;
	background: linear-gradient(-90deg, var(--primary), var(--secondary)), 
				url(images/bg.png) repeat center center / cover;
}

.wrapper{
	margin: 0 auto;
	width: 75vw;
}

footer{
	position: sticky;
	background: linear-gradient(90deg, var(--primary), var(--secondary)), 
				url(images/bg.png) repeat center center / cover;
	height: auto;
	text-align: center;
	top: 100%;
}

header{
	display: flex;
	flex-wrap: wrap;
	background: linear-gradient(90deg, var(--primary), var(--secondary)), 
				url(images/bg.png) repeat center center / cover;
}

p{
	font-family: "Courier New", monospace;
	font-size: 36px;
	color: #E0FBFC;
	user-select: none;
}

a{
	position: relative;
	justify-content: space-around;
	font-family: "Courier New", monospace;
	font-size: 36px;
	text-decoration: none;
	transition: 0.3s;
	color: #869aeb;
	user-select: none;
}

a:hover {
	color: blanchedalmond;
}

h6{
	font-family: "Courier New", monospace;
	font-size: 10px;
	user-select: none;
}

h2{
	font-family: "Courier New", monospace;
	font-size: 40px;
	user-select: none;
}


h1{
	font-family: "Courier New", monospace;
	font-size: 70px;
	color: #E0FBFC;
	user-select: none;
}

::-webkit-scrollbar {
    display: none;
}


/*! SkyTech */