// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

@font-face{
	font-family: 'Main';
	src: url(fonts/Oswald.ttf);
}

:root{
	--primary: hsla(200, 99%, 34%, 0.25);
	--secondary: hsla(132, 99%, 34%, 0.10);
}

nav{
	display: flex;
	justify-content: space-around;
	margin: auto;
}

body{
	min-height: 100vh;
	height: 100vh;
	width: 100vw;
	margin: 0;
	display: list-item;
	color: #fff;
	background: linear-gradient(-90deg, var(--primary), var(--secondary)), 
				url(images/bg.png) repeat center center / cover;
}

.wrapper{
	margin: 0 auto;
	width: 75vw;
	background-color: black;
}

footer{
	position: sticky;
	background-color: hsla(200, 99%, 34%, 0.10);
	height: auto;
	text-align: center;
	top: 100%;
}

header{
	background-color: hsla(200, 99%, 34%, 0.25);
}

p{
	font-family: monospace;
	font-size: 36px;
	color: #E0FBFC;
}

a{
	position: relative;
	justify-content: space-around;
	font-family: monospace;
	color: #869aeb;
	font-size: 36px;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	text-decoration: none;
	cursor: none;

}

a:after{
	content: "";
	position: absolute;
	background-color: #869aeb;
	height: 0px;
	width: 0%;
	left: 0;
	bottom: 0px;
	transition: 0.3s;
}

a:hover:after{
	height: 3px;
	width: 100%;
	bottom: -10px;
}

h6{
	font-family: monospace;
	font-size: 12px;
}

h2{
	font-family: monospace;
	font-size: 36px;
	
}


h1{
	font-family: monospace;
	font-size: 70px;
	color: #E0FBFC;
}

::-webkit-scrollbar {
    display: none;
}


/*! SkyTech */